<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header :: head}"></head>
<body>
<header th:replace="~{layout/header :: header}"></header>
<div class="container-md wrap">
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Ah ocurrido un error!</h4>
        <p>
            <div th:text="${mensaje}"></div>
            <div th:text="${#temporals.format(fecha, formatDateComplete)}"></div>
            <a th:href="@{/clientes/home}" class="btn btn-outline-danger" role="button">Inicio</a>
        </p>
    </div>
    <div class="text-center">
        <img th:src="@{/image/exception.png}" class="img-fluid" style="max-width: 30%">
    </div>
</div>
<footer th:replace="~{layout/header :: footer}"></footer>
</body>
</html>